In [1]:
import pandas as pd

In [13]:
data_dictionary = {
    'Companies': ['wege', 'vale', 'petrobras'],
    'Price': [20, 30, 50],
    'Volume': [1000, 30000, 40100]
}

datas_companies = pd.DataFrame(data_dictionary, index=[2019, 2020, 2021], columns= ['Volume', 'Price', 'Companies'])

display(datas_companies)

      Volume  Price  Companies
2019    1000     20       wege
2020   30000     30       vale
2021   40100     50  petrobras

In [19]:
df_without_index = pd.DataFrame(data_dictionary)

print(f''' DataFrame with no index: 
{df_without_index}
''')

df_with_index = df_without_index.set_index('Companies')
print(f''' DataFrame with index:
{df_with_index}      
''')

 DataFrame with no index:
   Companies  Price  Volume
0       wege     20    1000
1       vale     30   30000
2  petrobras     50   40100

 DataFrame with index:
           Price  Volume
Companies
wege          20    1000
vale          30   30000
petrobras     50   40100

In [28]:
data_dictionary['Number'] = [1, 2, 3]
data_dictionary['Segment'] = ['Mineral', 'Eletrical', 'Oil']

new_df = pd.DataFrame(data_dictionary)
new_df = new_df.set_index(['Companies', 'Price'])

print(f'''
Dataframe after modifications      
{new_df}
''')

new_df = new_df.reset_index(level='Price', names=['Stocks', 'Market_price'])

print(f'''
Dataframe Before modifications      
{new_df}
''')

Dataframe after modifications
                 Volume  Number    Segment
Companies Price
wege      20       1000       1    Mineral
vale      30      30000       2  Eletrical
petrobras 50      40100       3        Oil


Dataframe Before modifications
           Market_price  Volume  Number    Segment
Companies
wege                 20    1000       1    Mineral
vale                 30   30000       2  Eletrical
petrobras            50   40100       3        Oil

In [33]:
data_weg = {
    'Market_price': [20.20, 21.20, 23.10, 30.20, 10.23, 14.20, 15.21, 12.40, 16.10, 21.20, 22.40, 28.89]
}

datas_weg_monthly = pd.date_range(start='1/1/2000', end='31/12/2000', freq='M')

price_weg = pd.DataFrame(data_weg, index=datas_weg_monthly)

price_weg

/var/folders/h3/hg0brw_s1mb4rb20y5dzl_sw0000gn/T/ipykernel_28073/4124092451.py:5: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  datas_weg_monthly = pd.date_range(start='1/1/2000', end='31/12/2000', freq='M')

            Market_price
2000-01-31         20.20
2000-02-29         21.20
2000-03-31         23.10
2000-04-30         30.20
2000-05-31         10.23
2000-06-30         14.20
2000-07-31         15.21
2000-08-31         12.40
2000-09-30         16.10
2000-10-31         21.20
2000-11-30         22.40
2000-12-31         28.89